@charset "utf-8";

$background-color: #EEEEEE;
$brand-color: #3E7CB1;
$off-black-color: #181818;
$off-white-color: #FDFDFD;

$spacing: 20px;

$max-width: 800px;

@import
  "app/reset",
  "app/base",
  "app/typography",
  "app/layout",
  "app/header",
  "app/footer",
  "app/home",
  "app/blog",
  "app/404"
;
