.blog-summary {
  margin-top: $spacing / 4;
}

.blog-post-title {
  margin-bottom: 0;
}

.blog-post-meta {
  color: lighten($off-black-color, 25%);
  font-size: 1.4rem;
}

:not(pre) > code {
  background-color: $background-color;
}

.highlight {
  border-radius: 5px;
  position: relative;
  margin: $spacing 0;

  > div {
    border-radius: 5px;

    > table {
      border-radius: 5px;
    }
  }
}

.highlight pre > code[data-lang]::before {
  // colors from syntax highlighting theme
  background-color: #282A36;
  border-radius: 5px;
  border: 1px solid #6272A4;
  color: #50FA7B;
  content: attr(data-lang);
  padding: 0 $spacing / 2;
  position: absolute;
  right: $spacing;
  text-align: center;
  top: -11px; // height of element (22px) / 2
}

.highlight table {
  padding: $spacing / 2 0 !important; // !important to override the inline styles that specify 0 padding
}
