header {
  color: $off-white-color;
  background-color: $brand-color;
  height: 300px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  margin: $spacing auto;
  max-width: $max-width;
  width: calc(100vw - (#{$spacing} * 2));

  a {
    color: $off-white-color;
    font-size: 1.8rem;
  }
}

.header-title {
  margin-right: auto;
}
