.profile-picture {
  display: block;
  max-height: 250px;
  margin: -125px auto 0;
  max-width: 250px;
}

.home-content {
  max-width: 500px;
  margin: $spacing auto $spacing * 2;
  width: calc(100vw - (#{$spacing} * 4));
  min-height: 100%;
}

.home-post-list {
  list-style: none;
  margin-left: 0;
}

.home-post-meta {
  font-family: monospace;
  color: lighten($off-black-color, 25%);
}
