html {
  color: $off-black-color;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 62.5%;
}

body {
  font-kerning: normal;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

%normal-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
}

%vertical-rythem {
  margin: $spacing 0;
}

h1 {
  @extend %vertical-rythem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.4;
}

h2 {
  @extend %vertical-rythem;
  font-size: 3.1rem;
  font-weight: 600;
  line-height: 1.4;
}

h3 {
  @extend %vertical-rythem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.4;
}

h4 {
  @extend %vertical-rythem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4;
}

h5 {
  @extend %vertical-rythem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.4;
}

h6 {
  @extend %vertical-rythem;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.4;
}

a {
  @extend %normal-text;
  color: $brand-color;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: darken($brand-color, 15%);
  }
}

em {
  @extend %normal-text;
  font-style: italic;
}

strong {
  @extend %normal-text;
  font-weight: 600;
}

code {
  @extend %normal-text;
  // background-color: ${({ theme }) => theme.colors.greys.darker};
  border-radius: 5px;
  font-family: monospace;
  padding: 2px 5px;
}

p {
  @extend %normal-text;
  @extend %vertical-rythem;
}

li {
  @extend %normal-text;
}

ol {
  @extend %normal-text;
  list-style: decimal;
  margin-left: $spacing;
}

ul {
  @extend %normal-text;
  list-style: disc;
  margin-left: $spacing;
}
