{{ define "main" }}
  <img
    alt="Kyle Thompson"
    class="profile-picture"
    loading="eager"
    src="{{ "/images/me.png" | relURL }}"
  />

  <div class="home-content">
    <p>
      I'm Kyle Thompson, a Software Engineer at
      <a href="https://root.engineering/" target="_blank" rel="noopener noreferrer">Root Insurance</a>.
      This is a place for my thoughts on mostly programming-related topics. Everything I write here is my own opinion.
    </p>

    {{ $posts := (where .Site.RegularPages "Section" "blog") }}
    {{ if gt (len $posts) 0 }}
      <h2>Posts</h2>
      <ul class="home-post-list">
        {{ range $posts }}
          <li>
            <span class="home-post-meta">{{ .Date.Format .Site.Params.DateFormat }}</span>
            &bullet;
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
{{ end }}
